.logo{
    width: 150px;
    height: 100px;
    margin: 50px;
}


.analyze-button{
    font-family: 'Mochiy Pop P One', sans-serif;
    margin: 15px !important;

}

.main-logo{
    width:300px;
    height: 200px;
    border-radius: 50%;
}

.url-input-form{
    margin-top:100px;
}




.input-url-video{
    /*margin: 100px;*/
    border: 1px black solid;
    max-width: 700px !important;
    background-color: white !important;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color:darkslategray;
    width:22%;
    border-radius: 20%;
    font-weight: bold;
    font-style: italic;
}
.footer-submitted{
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color:darkslategray;
    width:22%;
    border-radius: 20%;
    font-weight: bold;
    font-style: italic;
}

.footer-text{
    font-size:18px;
}

.link-github{
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
    color:darkgoldenrod;
}
